td, th {
  padding-right: 1em;
  width: 20%;
}

.portal-url {
  width: 25%;
}

tr:nth-child(odd) td {
  background: #EAEAEA
}

ul {
  margin-top: 0;
}

ul li {
  line-height: normal;
  background-position: left 0.35em;
}
