<!doctype html>
<html>
  <head>
    <title>Data Portal Info Collector</title>
    <link rel="stylesheet" type="text/css" href="static/structure.css">
    <link rel="stylesheet" type="text/css" href="static/form.css">
    <link rel="stylesheet" type="text/css" href="static/jquery-ui-1.10.4.custom.min.css">
</head>
<body>
  <div id="container" class="ltr">{% block content %}{% endblock %}</div>
  <script type=text/javascript src="{{ url_for('static', filename='places.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='jquery-1.11.0.min.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='jquery-ui-1.10.4.custom.min.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='autocomplete.js') }}"></script>
</body>
</html>