{% extends "page_layout.html" %}
{% block content %}

<h2>Open data is the raw material of civic hacking.</h2>

<p>As we prepare for Code Across 2014, Code for America wants to collect all of the nationwide data that’s ripe for excellent civic hacking. We're collecting links to open data catalogs throughout the United States. Help us map national open data coverage by finding data catalogs, and connecting them to governments of states, counties, cities, and other places:

<p>Adding a new open data catalog you’ve found is easy. We’re looking for a few pieces of information: a link to the catalog website, the geographic area it covers like a city or state, some samples of the kind of data it contains like crime or parcels, and comments about the apparent status of the data.

<p>
    <a href="new" class="button button-prominent">Add new catalogs</a>
    <a href="data-portals/index" class="button">See the data</a>

<p>By the time Code Across is here, we'll make all the data open and available. We're still building that part at the moment.</p> 

<p>Here are some starting places to look for catalogs:

<ul>
<li>	<a href="http://datacatalogs.org">datacatalogs.org</a>
<li>	<a href="http://ckan.org/instances/">ckan.org/instances/</a>
<li>	<a href="https://opendata.socrata.com/browse?tags=socrata+customers">opendata.socrata.com/browse?tags=socrata+customers</a>
</ul>

<p>You can also use a search engine to help you find portals, with searches like “(county name) open data,” “(state name) data portal,” or “(city name) GIS data”:

<ul>
<li>	<a href="https://www.google.com/search?q=San+Francisco+open+data">google.com/search?q=San+Francisco+open+data</a>
<li>	<a href="https://www.google.com/search?q=New+York+data+portal">google.com/search?q=New+York+data+portal</a>
<li>	<a href="https://www.google.com/search?q=Chicago+GIS+data">google.com/search?q=Chicago+GIS+data</a>
<br>	(“GIS” or geographic data is a common kind of open data)
</ul>

<p>Not every city or county will have a data catalog, and no one has a complete list. Help us make one! Some governments will have many data catalogs, from different departments like geography or police, or even CfA brigades like Open Oakland:

<ul>
<li>	<a href="https://data.sfgov.org">data.sfgov.org</a>
<li>	<a href="https://fishandgame.idaho.gov/ifwis/portal/opendata/hunting">fishandgame.idaho.gov/ifwis/portal/opendata/hunting</a>
<li>	<a href="http://data.openoakland.org">data.openoakland.org</a>
</ul>

{% endblock %}
