{% extends "page_layout.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="static/jquery-ui-1.10.4.custom.min.css">

<form id="form134" name="form134" class="wufoo leftLabel page" accept-charset="UTF-8" enctype="multipart/form-data" method="post" novalidate action="create">
  <header id="header" class="info">
    <h2>Data Portal Collector</h2>
  </header>

  <p>Code for America is looking for data portals, nationwide. Help us find them.</p>

  {{form.hidden_tag()}}
  
    {% set place_class = "" %}
    {% if form.Field1.errors %}
      {% set place_class = "error"%}
    {% endif %}

    <p>
        <label for="Field1">Place Name<span class="req">*</span></label>
        {{form.Field1(id="autocomplete", placeholder="Washington", size=30)}}
        <small class="note">Town, county, state etc. that publishes data to this portal.</small>
    </p>

    {% for error in form.Field1.errors %}
        <p class="error">{{ error }}</p>
    {% endfor %}

    {% set url_class = "" %}
    {% if form.Field2.errors %}
      {% set url_class = "error"%}
    {% endif %}

    <p>
        <label for="Field2">Portal URL<span class="req">*</span></label>
        {{form.Field2(placeholder="http://data.gov", size=30)}}
        <small class="note"> </small>
    </p>

    {% for error in form.Field2.errors %}
        <p class="error">{{ error }}</p>
    {% endfor %}    

    <fieldset class="select field">
        <legend>Included Data Sets (check all that apply)</legend>
        <ul class="list-form">
            <li>
                <label for="{{ form.Field4.id }}">
                    {{form.Field4(class_="field checkbox", value="Crime Data")}}
                    Crime Data
                </label>
            </li>
            <li>
                <label for="{{ form.Field5.id }}">
                    {{form.Field5(class_="field checkbox", value="Restaurant Inspections")}}
                    Restaurant Inspections
                </label>
            </li>
            <li>
                <label for="{{ form.Field6.id }}">
                    {{form.Field6(class_="field checkbox", value="Permits and Licenses")}}
                    Permits and Licenses
                </label>
            </li>
            <li>
                <label for="{{ form.Field7.id }}">
                    {{form.Field7(class_="field checkbox", value="311 Data")}}
                    311 Data
                </label>
            </li>
            <li>
                <label for="{{ form.Field8.id }}">
                    {{form.Field8(class_="field checkbox", value="Zoning Data")}}
                    Zoning Data
                </label>
            </li>
            <li>
                <label for="{{ form.Field9.id }}">
                    {{form.Field9(class_="field checkbox", value="Property Tax Data")}}
                    Property Tax Data
                </label>
            </li>
            <li>
                <label for="{{ form.Field10.id }}">
                    {{form.Field10(class_="field checkbox", value="Locations of Public Facilities")}}
                    Locations of Public Facilities
                </label>
            </li>
            <li>
                <label for="{{ form.Field11.id }}">
                    {{form.Field11(class_="field checkbox", value="Business Listings")}}
                    Business Listings
                </label>
            </li>
            <li>
                <label for="{{ form.Field12.id }}">
                    {{form.Field12(class_="field checkbox", value="Financial Transparency Data")}}
                    Financial Transparency Data
                </label>
            </li>
            <li>
                <label for="{{ form.Field13.id }}">
                    {{form.Field13(class_="field checkbox", value="Performance Metrics")}}
                    Performance Metrics
                </label>
            </li>
            <li>
                <label for="{{ form.Field14.id }}">
                    {{form.Field14(class_="field checkbox", value="Transit Data")}}
                    Transit Data
                </label>
            </li>
            <li>
                <label for="{{ form.Field15.id }}">
                    {{form.Field15(class_="field checkbox", value="Code Enforcement Data")}}
                    Code Enforcement Data
                </label>
            </li>
        </ul>
    </fieldset>

    <fieldset class="select field">
        <legend>Included Data Formats (check all that apply)</legend>
        <ul class="list-form">
            <li>
                <label for="{{ form.Field105.id }}">
                    {{form.Field105(class_="field checkbox", value="Machine-Readable and Open Format")}}
                    Machine-Readable and Open Format
                </label>
            </li>
            <li>
                <label for="{{ form.Field106.id }}">
                    {{form.Field106(class_="field checkbox", value="Machine-Readable but Proprietary Format")}}
                    Machine-Readable but Proprietary Format
                </label>
            </li>
            <li>
                <label for="{{ form.Field107.id }}">
                    {{form.Field107(class_="field checkbox", value="Human-Readable")}}
                    Human-Readable
                </label>
            </li>
            <li>
                <label for="{{ form.Field108.id }}">
                    {{form.Field108(class_="field checkbox", value="Other")}}
                    Other
                </label>
            </li>
        </ul>
    </fieldset>

    <p>
        <label for="Field209">Press Release URL</label>
        {{form.Field209(placeholder="http://city.gov/open-data", size=30)}}
        <small class="note">Did the mayor, city council etc. make a press release about the open data portal? Add it here.</small>
    </p>

    {% set data_class = "" %}
    {% if form.Field205.errors %}
      {% set data_class = "error"%}
    {% endif %}

    <fieldset class="select field">
        <legend>Data Completeness<span class="req">*</span></legend>
        <ul class="list-form">
            {% for subfield in form.Field205 %}
              <li>
                <label for="{{ subfield.id }}">{{ subfield() }} {{ subfield.label.text }}</label>
              </li>
            {% endfor %}
        </ul>
    </fieldset>

    <p>
        <label for="Field207">Comments</label>
        {{form.Field207(class_="field textarea medium", rows=8, cols=30)}}
        <small class="note">Please share any thoughts you have about the data you reviewed.</small>
    </p>

    <p>
        <input id="saveForm" name="saveForm" type="submit" value="Submit"/>
    </p>

</form>

<script type=text/javascript src="{{ url_for('static', filename='places.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='jquery-1.11.0.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='jquery-ui-1.10.4.custom.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='autocomplete.js') }}"></script>

{% endblock %}