{% extends "page_layout.html" %}
{% block content %}
  <div id="portal-index-heading">
    <h2>Found Data Portals</h2>
    <a href="/data-portals/entries.csv" class="icon-download2">Download csv</a>
  </div>

  <p>
    Portal information submitted here is
    <a href="https://creativecommons.org/publicdomain/zero/1.0/">licensed CC0</a>.
  </p>

  {% for state, data_portals in portal_dict.iteritems() %}
  <h3>{{ state }}</h3>
  <table>
    <tr>
      <th>Place</th>
      <th class="portal-url">Portal URL</th>
      <th>Data Set Types</th>
      <th>Included Formats</th>
      <th>Complete?</th>
    </tr>
    {% for data_portal in data_portals %}
      <tr>
        <td>{{ data_portal[1] }}</td>
        <td class="portal-url"><a href="{{ data_portal[2] }}">{{ truncate_url(data_portal[2]) }}</a></td>
        <td>
          <ul>
            {% for item in string_to_list(data_portal[3]) %}
              <li>
                {{ item }}
              </li>
            {% endfor %}
          </ul>
        </td>
        <td>
          <ul>
            {% for item in string_to_list(data_portal[4]) %}
              <li>
                {{ item }}
              </li>
            {% endfor %}
          </ul>
        </td>
        <td>{{ data_portal[6] }}</td>
      </tr>
    {% endfor %}  
  </table>
  {% endfor %}
{% endblock %}
